<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-imatch"
    version="2.0.0">

    <name>BPI iMatch</name>
    <description>Cordova plugin for the BPI iMatch, built on the native iMatch SDKs</description>
    <license>Apache 2.0</license>
    <keywords>bluetooth, BLE, fingerprint, passport, smartcard, nfc, imatch</keywords>
    <repo>https://github.com/bpiservices/cordova-plugin-imatch.git</repo>
    <issue>https://github.com/bpiservices/cordova-plugin-imatch/issues</issue>

    <engines>
        <engine name="cordova-android" version=">=15.0.0" />
        <engine name="cordova-ios" version=">=8.0.0" />
    </engines>

    <preference name="BLUETOOTH_USAGE_DESCRIPTION" default="Bluetooth is required to connect to the iMatch" />
    <!-- Folder in the app project for the iMatch SDK (android/imatchsdk.aar, ios/iMatchSDK.xcframework) -->
    <preference name="IMATCH_SDK_DIR" default="imatch-sdk" />

    <js-module src="www/iMatch.js" name="iMatch">
        <clobbers target="window.iMatch" />
    </js-module>

    <platform name="ios">
        <hook type="before_plugin_install" src="scripts/stage-sdk.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="iMatch">
                <param name="ios-package" value="GridleriMatch" onload="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>

        <source-file src="src/ios/GridleriMatch.swift" />
        <framework src="sdk/ios/iMatchSDK.xcframework" custom="true" embed="true" />
    </platform>

    <platform name="android">
        <hook type="before_plugin_install" src="scripts/stage-sdk.js" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="iMatch">
                <param name="android-package" value="com.gridler.imatch.GridleriMatch" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                android:usesPermissionFlags="neverForLocation" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
        </config-file>

        <source-file src="src/android/GridleriMatch.java" target-dir="src/com/gridler/imatch" />

        <resource-file src="sdk/android/imatchsdk.aar" target="libs/imatchsdk.aar" />
        <framework src="src/android/imatch.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
